global:
  nameOverride: zigbee2mqtt
bitwardenIds:
  zigbee2mqtt: OVERRIDE_NEEDED
app-template:
  controllers:
    zigbee2mqtt:
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/koenkk/zigbee2mqtt
            tag: 1.41.0
          env:
            TZ: Etc/UTC
            ZIGBEE2MQTT_DATA: /config
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_LEGACY_TRIGGERS: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
            ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
            ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: false
            ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info # debug
            ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
            ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
            ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
            ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: false
            ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: true
            ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: true
            ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: &port 8080
            ZIGBEE2MQTT_CONFIG_FRONTEND_URL: https://zigbee2mqtt.local
            ZIGBEE2MQTT_CONFIG_HOMEASSISTANT: true
            ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: true
            ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
            ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: true
            ZIGBEE2MQTT_CONFIG_MQTT_SERVER: mqtt://mosquitto.home.svc.cluster.local
            ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
            ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: false
            ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: 38400
            ZIGBEE2MQTT_CONFIG_SERIAL_PORT: /dev/ttyACM0
            ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: deconz
            # IDK, do what the thing says: https://github.com/Koenkk/zigbee2mqtt/issues/19713
            ZIGBEE2MQTT_CONFIG_FRONTEND: "false"
          envFrom:
            - secretRef:
                name: zigbee2mqtt-secret
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 10m
            limits:
              squat.ai/zigbee: 1
              memory: 256Mi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
      pod:
        securityContext:
          runAsUser: 568
          runAsNonRoot: true
          fsGroup: 568
          fsGroupChangePolicy: OnRootMismatch
          supplementalGroups:
            # Dialout on MicroOS
            - 492 
            - 20
  service:
    zigbee2mqtt:
      controller: zigbee2mqtt
      ports:
        http:
          port: *port
  ingress:
    zigbee2mqtt:
      annotations:
        hajimari.io/icon: mdi:zigbee
        hajimari.io/url: https://zigbee2mqtt.local
      hosts:
        - host: &host "zigbee2mqtt.local"
          paths: &paths
            - path: /
              service:
                identifier: zigbee2mqtt
                port: http
        - host: &customHost zigbee2mqtt.local
          paths: *paths
      tls:
        - hosts:
            - *host
            - *customHost
  persistence:
    config:
      existingClaim: zigbee2mqtt
